
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1107px;
  width:63px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2606 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2606_img.selected {
}
#u2606.selected {
}
#u2606_img.disabled {
}
#u2606.disabled {
}
#u2606_img.selectedDisabled {
}
#u2606.selectedDisabled {
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u2606_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2607 label {
  left:0px;
  width:100%;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:1107px;
  width:64px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2607 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2607_img.selected {
}
#u2607.selected {
}
#u2607_img.disabled {
}
#u2607.disabled {
}
#u2607_img.selectedDisabled {
}
#u2607.selectedDisabled {
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:48px;
  word-wrap:break-word;
  text-transform:none;
}
#u2607_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2608 label {
  left:0px;
  width:100%;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1107px;
  width:62px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2608 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2608_img.selected {
}
#u2608.selected {
}
#u2608_img.disabled {
}
#u2608.disabled {
}
#u2608_img.selectedDisabled {
}
#u2608.selectedDisabled {
}
#u2608_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:46px;
  word-wrap:break-word;
  text-transform:none;
}
#u2608_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2609 label {
  left:0px;
  width:100%;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1107px;
  width:69px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2609 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2609_img.selected {
}
#u2609.selected {
}
#u2609_img.disabled {
}
#u2609.disabled {
}
#u2609_img.selectedDisabled {
}
#u2609.selectedDisabled {
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:53px;
  word-wrap:break-word;
  text-transform:none;
}
#u2609_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2610 label {
  left:0px;
  width:100%;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1107px;
  width:71px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2610 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2610_img.selected {
}
#u2610.selected {
}
#u2610_img.disabled {
}
#u2610.disabled {
}
#u2610_img.selectedDisabled {
}
#u2610.selectedDisabled {
}
#u2610_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:55px;
  word-wrap:break-word;
  text-transform:none;
}
#u2610_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:2px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1164px;
  width:816px;
  height:1px;
  display:flex;
  font-size:8px;
}
#u2611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2612 label {
  left:0px;
  width:100%;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1148px;
  width:107px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2612 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2612_img.selected {
}
#u2612.selected {
}
#u2612_img.disabled {
}
#u2612.disabled {
}
#u2612_img.selectedDisabled {
}
#u2612.selectedDisabled {
}
#u2612_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:91px;
  word-wrap:break-word;
  text-transform:none;
}
#u2612_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2613 label {
  left:0px;
  width:100%;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1148px;
  width:65px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2613 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2613_img.selected {
}
#u2613.selected {
}
#u2613_img.disabled {
}
#u2613.disabled {
}
#u2613_img.selectedDisabled {
}
#u2613.selectedDisabled {
}
#u2613_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:49px;
  word-wrap:break-word;
  text-transform:none;
}
#u2613_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2614 label {
  left:0px;
  width:100%;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1148px;
  width:63px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2614 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2614_img.selected {
}
#u2614.selected {
}
#u2614_img.disabled {
}
#u2614.disabled {
}
#u2614_img.selectedDisabled {
}
#u2614.selectedDisabled {
}
#u2614_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u2614_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2615 label {
  left:0px;
  width:100%;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:1148px;
  width:71px;
  height:12px;
  display:flex;
  font-size:8px;
}
#u2615 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2615_img.selected {
}
#u2615.selected {
}
#u2615_img.disabled {
}
#u2615.disabled {
}
#u2615_img.selectedDisabled {
}
#u2615.selectedDisabled {
}
#u2615_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:55px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:249px;
  width:14px;
  height:14px;
  display:flex;
}
#u2616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:207px;
  width:334px;
  height:50px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u2617 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 25.577608656649px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:249px;
  width:14px;
  height:14px;
  display:flex;
}
#u2618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:50px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:263px;
  width:323px;
  height:50px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u2619 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
