.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.box_1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.icon {
}
.marker {
  color:#FFFFFF;
}
.box_2 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
._形状 {
}
.button {
}
.table_cell {
}
.flow_shape {
}
._图片_ {
}
.text_area {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.box_3 {
}
.radio_button {
  text-align:left;
}
.placeholder {
}
.droplist {
  color:#000000;
  text-align:left;
}
._连接 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.form_disabled1 {
}
.box_31 {
}
._默认样式 {
}
._文本链接 {
  color:#0000FF;
}
.icon1 {
}
.box_11 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.image {
  color:#000000;
}
._图片 {
}
.shape {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
}
.paragraph {
  text-align:left;
}
._形状1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
.box_12 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.box_21 {
}
.image1 {
  color:#000000;
}
._图片1 {
}
.line1 {
}
._图片2 {
  color:#000000;
}
.sticky_3 {
  text-align:left;
}
._连接线 {
}
.menu_item {
}
.sticky_1 {
  text-align:left;
}
._默认样式1 {
}
._线段 {
}
textarea, select, input, button { outline: none; }
